<div class="col-8 mt-5 mx-auto">
    <form (ngSubmit)="save()" [formGroup]="formCliente" #formDir="ngForm">
        <div class="row">
            <div class="mb-3 col-6">
                <label for="txtNome" class="form-label">Nome</label>
                <input type="text" formControlName="nome" class="form-control" id="txtNome" required>
                <span *ngIf="formCliente.get('nome')?.invalid" class="text-danger">este campo é obrigatório</span>
            </div>
            <div class="mb-3 col-6">
                <label for="txtTelefone" class="form-label">Telefone</label>
                <input type="tel" formControlName="telefone" class="form-control" id="txtTelefone" required>
                <span *ngIf="formCliente.get('telefone')?.invalid" class="text-danger">este campo é obrigatório
                </span>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-6">
                <label for="txtEmail" class="form-label">Email</label>
                <input type="email" formControlName="email" class="form-control" id="txtEmail" required>
                <span *ngIf="formCliente.get('email')?.invalid" class="text-danger">este campo é obrigatório
                </span>
            </div>
            <div class="mb-3 col-6">
                <label for="txtFoto" class="form-label">Foto</label>
                <input type="file" formControlName="foto" class="form-control" id="txtFoto" required>
                <span *ngIf="formCliente.get('foto')?.invalid" class="text-danger">este campo é obrigatório
                </span>
            </div>
        </div>
        <div class="mb-3 col-12 d-flex justify-content-end">
            <button type="submit" class="d-flex btn btn-primary" [disabled]="formCliente.invalid">
                <i class="material-icons me-2">send</i>
                <span class="fw-bold">save</span>
            </button>
        </div>
    </form>
</div>